{% extends "base.html" %}
{% load static %}
{% block title %}
panier
{% endblock %}
{% block content %}
<h3>Votre panier</h3>
<table class="cart">
    <thead>
    <tr>
        <th></th>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Supprimer</th>
        <th>Unité</th>
        <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr>
        <td>
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %} {{ product.image.url}} {% else %} {% static 'img/no_image.png' %} {% endif %}" alt="{{ product.name }}"></a>
        </td>
        <td>
            {{ product.name }}
        </td>
        <td>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ item.update_quantity_form.quantity }}
            {{ item.update_quantity_form.override }}
            <input type="submit" value="Actualiser" class="btn">
            {% csrf_token %}
            </form>
        </td>
        <td>
            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                <input type="submit" value="Supprimer" class="btn">
                {% csrf_token %}
            </form>
        </td>
        <td class="num">
            {{ item.price }}€
        </td>
        <td class="num">
            {{ item.total_price }}€
        </td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr class="total">
        <td colspan="4" ></td>
        <td>Total</td>
        <td class="num">{{ cart.get_total_price }}€</td>
    </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button light btn">Continuer shopping</a>
    <a href="{% url 'orders:order_create' %}" class="button btn">Commander</a>
</p>
{% endblock %}